.crear_pregunta{
    display: flex;
   
    
}
.estilocrearpregunta{
    display: grid;
    place-items: center;
    justify-content:flex-start;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 4%;
    border-radius: 5%;
    
}