.estiloExamen{ 
    position: relative;
    width: 80%;
    min-height: 100%;
    background-color: #000000;
    color: white;
    margin-left: 10%;
    margin-right:10% ;
    margin-bottom: 3%;
    margin-top: 1%;
    border-radius: 5%;
    box-shadow: 7px 13px 37px #393939;
    padding: 20px 30px;
    
    
}
.estiloExamen img{
    height: 120%;
    width: 100%;
    padding: 0px 20px;
    margin-left: 0%;
    margin-right:0% ;
}
.estiloExamen img[src=""]{
    display: none;
}
@media (max-width: 400px)  {
    .estiloExamen img {
        max-width: 250px;
        max-height: 140px;
        padding: 20px 20px; 
    }
}
.estiloRevisar{
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #ffffff;
    margin-top: 10px;
    box-shadow: 7px 13px 37px #393939;
    padding: 20px 30px;
}

.estilopreview{ 
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #000000;
    color: white;
   
    margin-bottom: 3%;
    
    border-radius: 5%;
  
    padding: 20px 30px;
    
}
.estilopreview img{
    height: 200px;
    width: 400px;
    padding: 20px 20px;
}
.estilopreview img[src=""]{
    display: "Tu pregunta no cuenta con imagen de apoyo";
}
@media (min-width: 350px) and (max-width: 449px) {
    .estilopreview img {
        max-width: 250px;
        max-height: 140px;
        padding: 20px 20px; 
    }
}

.estilobotoncambioexamen{
    margin-top: 2%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.estiloFullbody{
    height: 90%;
    width: 80%;
    padding: 20px 20px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}