.estilodocente{
    display: block;
    width: 70%;
    height: 100%;
    background-color: #e0e0df;
    margin-left: 0%;
    margin-top: 5%;
    margin-bottom:5%;
    box-shadow: 7px 13px 37px #393939;
    padding: 20px 30px;
    
}
.estilodocentedos{
    display: block;
    width: 100%;
    height: 10%;
 margin-top: 5%;
 margin-left: 0%;
 border-radius: 0%;
 padding: 10px 10px;
    background-color: #e9e9e9;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    
   
    
 
}

@media  screen and (max-width: 480px){
    .estilodocentedos{
    display: block;
    width: 100%;
    height: 10%;
    margin-left: 0%;
    margin-top: 5%;
    border-radius: 0%;
    padding: 5px 5px;
    background-color: #e9e9e9;
    color: rgb(0, 0, 0);
    border: 1px solid;
    
   
    
 
}}



.container{
    display: flex;
   
    justify-content: center;
    
    
}
.estilodocentedos img{
    height: 100px;
    width:100px;
    padding: 5px 5px;
    padding: 10px 10px;

    
}
.estilodocentetres{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 60px;
    border: 1px solid black;
background-color: #e9e9e9;
    padding:10px 0px;
    
   
    
    
   
}
.estilopalmares{
    margin-top: 5%;
    margin-left: 4%;
    display: block;
   
    text-justify: auto;
    border-bottom: 1%;
}
.estilopalmares h6{
    text-align: center;
}
.estiloinfo{
    display: block;
}